body{
    background-color: rgb(97, 131, 194);
}

.titre{
    font-size: 40px;
}

.myRange{
    position: absolute;
    left:60px;
}

#blocCouleur{
    position: absolute;
    top:320px;
    left:300px;
    border: 2px solid rgb(0,0,0);
    width: 100px;
    height: 80px;
}

#blocTexte{
    position: relative;
    top: 50px;
}

#adresse{
    width: 400px;
    height: 40px;
}

#nom{
    width: 140px;
    height: 20px;
}

#prénom{
    width: 140px;
    height: 20px;
}

.resultatCouleur{
    position: absolute;

    left: 200px;
}